<footer class="foot">
  <div>
    © <%= Time.now.year %> <%= metadata.author %>. <span class="muted">Set in Inter.</span>
  </div>
  <div>
    <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  </div>
</footer>
